@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}


figcaption h1{
    position:absolute;
    bottom: 12rem;
    margin: 0 2rem;
    color: #fff;
    font-size: 4em;
}

figcaption p{
    position:absolute;
    bottom: 5rem;
    margin: 0 2rem;
    color: #fff;
    font-size: 1.8em;
}

.h-contact{
     text-align: center;
     color: orange;
}

.contact-container{
    text-align: center;
    margin-top: 4rem;
    text-decoration-style: none;
}


.middle-contant{
    margin-top: 5rem;
}


.right-contant{
    margin-top: 4rem;
}

.h-name{
    margin-top: 1rem;
    color: rgb(107, 105, 105)
    
}

.h-para{
    font: 1.5em sans-serif;
    margin-top: 1rem;
    color: rgb(58, 56, 56);
    font-family: poppins, Arial, sans-serif;
}

.icon-email{
    margin-top: 1rem;
    text-decoration: none;
}

.icon-no, .icon-email{
    color: green;
    text-decoration: none;
}


strong{
    color: rgb(216, 23, 23);
    text-decoration: none;
}



@media screen and (max-width: 500px) {

    figcaption h1{
        bottom: 3rem;
        font-size: 1.5rem;
        margin: 0.5em;
    }

    figcaption p{
        bottom: 1rem;
        font-size: 10px;
        margin:1em;
    }

    .contact-container{
        padding:8px;
        margin-top: 1rem;
    }

    .h-name{
        font-size: 1rem;
    }

    .h-para{
        font-size: 0.8rem;
    }




}


