@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif
}

figcaption h1 {
    position: absolute;
    bottom: 12rem;
    margin: 0 2rem;
    color: #fff;
    font-size: 4em;
}

figcaption p {
    position: absolute;
    bottom: 5rem;
    margin: 0 2rem;
    color: #fff;
    font-size: 1.8em;
}

.container-skew0 {
    display: flex;
}

.c-text0 h1 {
    padding-top: 30px;
    margin-left: 20px;
    font-weight: bold;
}

.c-text0 p {
    font-size: 20px;
    width: 90%;
    margin: 30px 0px 0px 20px;
    color: rgb(110, 105, 105);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.side-img0 .s-img0 {
    width: 100vh;
    padding-top: 10rem;
    padding-right: 30px;
}


@media screen and (max-width: 1000px) {

    .c-img {
        height: 30em;
    }

    .container-skew0 {
        display: block;
    }

    .c-text0 {
        margin-bottom: 3em;
    }

    .c-text0 p {
        margin-left: 2em;
    }

    .side-img0 .s-img0 {
        width: 60em;
        margin: 0;
        margin: 0;
        margin: 0em 1em;
        padding: 0;
        border-radius: 1em;
        box-shadow: 0 8px 6px 0 rgba(7, 7, 7, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

}

@media screen and (max-width: 500px) {


    .c-text0 h1 {
        margin-left: 5px;
    }

    .container-skew0 {
        display: block;
    }

    /* .c-text0{
        margin-bottom: 3em;
    } */

    .side-img0 .s-img0 {
        width: 23em;
        /* margin: 0; */
        margin: 0em 0.8em;
        /* padding:0; */
        /* border-radius: 1em;  */
        /* box-shadow: 0 8px 6px 0 rgba(7, 7, 7, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    }

    .c-text0 p {
        font-size: 1em;
    }

}