@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url("https://cdn.syncfusion.com/ej2/material.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.form-table{
    position: relative;
    top: 4rem;
    margin: 3rem; 
}

h1{
  font-weight: bold;
  text-align: center;
}
h3{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 3rem;
}

.to-details{
    margin-top: 1.5rem;
}

.form-group{
    margin-bottom: 1rem;
}

.select-box{
   margin-top: 2rem;
}
.date-select{
   margin-top: 3rem;

}

.price{
    margin-top: 2rem;
}

.price h4{
    font-weight: bold;
    margin-bottom: 1rem;
}

.red-text{
    margin-top: 0.5rem;
}

.form-description-content{
    font-size: 15px;
    font-weight: bold;
    color: rgb(230, 145, 19);
}

.subtotal-container{
    background-color: rgb(236, 234, 231);
    border-radius: 10px;
    width: 30vh;
    margin-top: 1rem;
    margin-bottom: 1rem ;
}
.subtotal-container .payment-subtotal{
    margin-left: 2.5rem;
}

.Booking-submit{
    display: flex;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 25px;
    color: white;
    padding:  10px 25px;
    background: linear-gradient(to right, #7e7a80, #292828);
    box-shadow: rgba(51, 73, 51, 0.3) 0px 19px 38px,
     rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin: auto;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.1s;
    margin-top: 2rem;
}

@media screen and (max-width: 500px) {
    
    h1{
        font-size: 1.5rem;
    }
    
    h3{
        font-size: 0.7rem;
    }

    .price{
        font-size: 11.6px;
    }

    .form-description-content{
        font-size: 10px
    }

    .subtotal-container{
        width: 24vh;
    }

    .Booking-submit{
        margin-top: 3rem;
        font-size: 12px
    }
    
} 



