@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Carousel */
.main-container {
  position: relative;
  top: 4.5rem;
}

.c-img {
  width: 100%;
  height: 100vh;
}

/* text-p */

.text {
  display: flex;
  justify-content: space-evenly;
  margin: 3rem;
}

.text-p h4 {
  font-weight: bold;
}

.p-text {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 8px;
  color: rgb(165, 152, 152);
}

#read-button {
  padding: 1em 1em;
  font-size: 80%;
  text-transform: uppercase;
  border-radius: 2em;
  background-color: #464242;
  color: #fff;
  text-decoration: none;
  box-shadow: 0px 5px 10px rgb(153, 152, 152);
  cursor: pointer;
  transition: all 0.1s;
}

#read-button:hover {
  color: #E0AC1C;
}

/* counter */

.counter-up {
  background: linear-gradient(to bottom, #d0e2f5c9 0%, #404957) no-repeat;
  box-shadow: 3px 1px 16px 4px rgba(197, 195, 195, 0.84);
  min-height: 50vh;
  background-size: cover;
  background-attachment: fixed;
  padding: 0 3rem;
  position: relative;
  display: flex;
  align-items: center;
}

.counter-up::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.counter-up .content {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.counter-up .content .box {
  background-color: #fff;
  border: 5px solid rgba(115, 132, 168, 0.8);

  width: calc(25% - 30px);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 40px 0px 40px;
  height: 20rem;
}

.content .box .icon {
  color: #464242;
  padding-top: 1rem;

}

.content .box .icon1 {
  padding-top: 2rem;
}

.content .box .counter {
  font-size: 50px;
  font-weight: 500;
  color: orange;
  font-family: sans-serif;
  padding-top: 30px
}

.content .box .text {
  font-weight: 400;
  color: #0c0c0c;
  font-weight: bold;
}

@media screen and (max-width: 1036px) {

  .counter-up .content .box {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 781px) {
  .text {
    font-size: medium;
  }

  .text-p h4 {
    font-size: 20px;
  }
}

@media screen and (max-width: 712px) {

  .c-img {
    height: 20em;
  }

  .text-p h4 {
    font-size: 15px;
  }
  #read-button{
    font-size: 10px;
  }

  .p-text{
    font-size: 12px;
  }
}

@media screen and (max-width: 560px) {

  .text-p h4 {
    font-size: 12px;
  }

  .p-text{
    padding: 0;
    font-size: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
  }

}

@media screen and (max-width: 560px){
  .p-text{
    font-size: 9px;
  }
}


@media screen and (max-width: 580px) {
  .counter-up .content .box {
    width: 100%;
  }

}

@media screen and (max-width: 500px) {

  .c-img {
    height: 13em;
  }

  .text {
    margin: 1.5em;
    display: block;
  }

  .text-p h4 {
    margin-bottom: 0.2em;
    font-size: 1.2em;
  }

  .p-text {
    font-size: 1em;
  }

  .text-p {
    margin-bottom: 2em;
  }

  .counter-up .content .box {
    height: 250px;
  }

  .content .box .counter {
    font-size: 30px;
  }

}






/* background: url("https://enterslice.com/learning/wp-content/uploads/2017/11/pexels-photo-119550.jpeg") no-repeat; */