/* @import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

figure{
    padding-bottom: 4rem;
}


figcaption h1{
    position:absolute;
    bottom: 12rem;
    margin: 0 2rem;
    color: #fff;
    font-size: 4em;
}

figcaption p{
    position:absolute;
    bottom: 5rem;
    margin: 0 2rem;
    color: #fff;
    font-size: 1.8em;
} */

.container-skew{
    display: flex;
}

.c-text h1{
    padding-top: 110px;
    margin-left: 30px;
    font-weight: bold;
    color:#292F37;

}

.c-text p{
    font-size: 20px;
    padding-left: 30px;
    width: 90%;
    margin: 50px 0px 20px;
    color: rgb(110, 105, 105);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.side-img .s-img{
    width: 100vh;
    padding-top: 5rem;
    margin-left: 20px;
    margin-bottom: 4rem;

}

/* image line 2 */

.container-skew1{
    display: flex;
}

.c-text1 h1{
    padding-top: 110px;
    margin-left: 20px;
    font-weight: bold;
    color:#292F37;
}

.c-text1 p{
    font-size: 20px;
    width: 90%;
    margin: 50px 20px 20px;
    color: rgb(110, 105, 105);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.side-img1 .s-img1{
    width: 100vh;
    padding-top: 5rem;
    margin-right: 20px;
    margin-bottom: 4rem;

}
   

   



@media screen and (max-width: 500px) {

    .side-img .s-img{
        width:20vh;
        margin:0;
        padding:0;
        padding-left: 20px;
        margin-top: 15px;

    }

    .c-text h1{
        font-size: 10px;
        margin:0;
        padding:0;
        padding-left: 15px;
        margin-bottom: 10px;

    }

    .c-text p{
        font-size: 10px;
        width: 30vh;
        margin:0;
        padding:0;
        padding-left: 15px;

    }

    .side-img1 .s-img1{
        width:20vh;
        margin:0;
        padding:0;
        padding-right: 20px;
        margin-top: 15px;
    }

    .c-text1 h1{
        font-size: 10px;
        margin:0;
        padding:0;
        padding-right: 10px;
        margin-left: 20px;
        margin-bottom: 10px;
    }

    .c-text1 p{
        font-size: 10px;
        width: 30vh;
        margin:0;
        padding:0;
        padding-right: 10px;
        margin-left: 20px;

    }

}


