@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.admin-table{
    position: relative;
    top: 4rem;
    margin: 3rem; 
}

@media screen and (max-width: 800px) {

    #no-more-tables tr,
    #no-more-tables td{
        display: block;
    }

    #no-more-tables thead tr{
        position: absolute;
        top:-9999px;
        left: -9999px;
    }

    #no-more-tables td{
        position: relative;
        padding-left: 50%;
        font-size: small;
        border: none;
        border-bottom: 1px solid #eee;
        overflow: hidden;
    }

    #no-more-tables td:before{
        content: attr(data-title);
        position:absolute;
        left: 6px;
        font-weight: bold;
    }

    #no-more-tables tr{
        border-bottom: 1px solid #ccc;
    }

}